.profile__subtitle {
  margin: 0;
  padding: 0;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: c;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 481px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
  }
}
