.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/Close_Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  cursor: pointer;
  transition: 0.335s ease-in-out;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}